

.search{
    margin-top: 100px;
}

header{
   
    background-image: url("./headerbackground2copy.png");
    padding-bottom: 200px;
    margin-bottom: 100px;
    margin-top: 10px;
   
}

.dropDownHeader{
    padding-top: 1em;
    padding-bottom: 6em;
   
    
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

